/* font family */

  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;600;800;900&display=swap');

  /* all over styles add */
  *{
        font-family: 'Mulish', sans-serif;
  }
  body{
    margin: 0% auto;
    width: 100%;
  }


  /* header styles */
  /* banner section styles */
  header{
    padding:50px 100px;
  }
  .nav-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-right:100px ;

  }
  
  nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
    
  }
  nav>ul{
    display: flex;
    margin-left: 150px;
  
  }
  nav li{
    list-style: none;
    margin-right: 45px;
    font-size: 18px;
  }
  nav li a{
    text-decoration: none;
    color: #424247;
    font-weight: 700;
  }
  .bar{
    display: none;
  }
  .banner{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1140px;
    height: 500px;
    margin-left: 0px;
    text-align: center;

  }
  .banner h1{
    padding: 110px 285px 0px 285px;
    color: #FFF;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
  }
  .banner p{
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .conteiner-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 55px;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 8px;
    border: 1px solid rgb(211, 197, 197);
    padding: 10px;
    background: rgba(255, 255, 255, 0.30);
  }
  .container-input input{
    background-color: #FFF;
  }
  
  .input{
    position: relative;
   
  }
  .input-field{
    background-color: #FFF;
    width: 100px;
    outline: 0;
    border: 2px solid rgb(240, 233, 233);
    border-radius: 10px;
    padding:10px 40px 10px 20px;
    font-size: 1em;
    color: rgba(19, 19, 24, 0.50);

  }
  .icon{
    position: absolute;
    left: 110px;
    top:0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: lightslategray;
  }
  button{
    border: 2px solid rgb(243, 103, 103);
    border-radius: 10px;
    padding:13px 50px 13px 50px;
    background: #FF5400;
    color: #FFF;
    font-weight: 800;
 
   

  }
 /* banner section styles end */

/* main section styles */
/* our populker tour section */
.populer{
  display: flex;
  gap: 40px;
  margin: 100px 100px;
}
.populer h3{
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.populer p,ul{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
}
/* choose destination */
.desti-description{
  text-align: center;
  justify-content: center;
  margin: 100px 200px 20px;
  margin-top: 100px;
  margin-left: 200px;
}
.desti-description h4{
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
}
.desti-description p{
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgba(19, 19, 24, 0.70);

}
.destination-img{
  margin-bottom: 100px;
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), ;
}

.name{
  position: absolute;
  top: 20;
  right: 900px;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.name-2{
  position: absolute;
  top: 20;
  right: 300px;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.name-3{
  position: absolute;
  top: 20;
  right: 1000px;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.name-4{
  position: absolute;
  top: 20;
  right: 520px;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.name-5{
  position: absolute;
  top: 20;
  right: 180px;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.name-6{
  position: absolute;
  top: 20;
  right: 955px;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.name-7{
  position: absolute;
  top: 20;
  right: 355px;
  color: #FFF;
  font-size: 28px;
  font-weight: 800;
}
.img-1,.img-2,.img-3,.img-4,.img-5,.img-6,.img-7{
  position: relative;
}

.first-row {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0px 100px 15px 100px;
  grid-template-columns: repeat(2,1fr);
}
.second-row {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0px 70px 15px 90px;
  grid-template-columns: repeat(3,1fr);
}
.thired-row {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0px 100px 5px 100px;
  grid-template-columns: repeat(2,1fr);
}
/* why choose us styles */
.choose-us{
  margin-bottom: 100px;
}
.choose-description{
margin: 100px 100px 40px 100px;
  text-align: center;
}
.choose-description h3{
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.choose-description p{
  color: rgba(19, 19, 24, 0.70);
  font-size: 16px;
}
.offers{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.offers img{
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}
.offers h5{
  color:rgb(26, 25, 25);
  font-size: 24px;
  font-weight: 800;
  margin: 5px auto;
}
.offers p{
  margin-top: 5px;
  color: #5A5A5D;
  font-size: 16px;

}
.choose-1{
  width: 400px;
  height: 150px;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);

}
.choose-2{
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  width: 400px;
  height: 150px;
  padding: 40px;
}
.choose-3{
  width: 400px;
  height: 150px;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}
/* bounes section styles */
.video-title{
  margin: 10px 100px 30px 100px;
}
.video-title h2{
  font-size: 34px;
  font-weight: 900px;
  color: #131318;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
}
.video-title p{

  font-size: 16px;
  color: #5A5A5D;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.video-section{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  margin-bottom: 100px;
}

/* news latter styles */
.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 100px 100px 100px;
  gap: 50px;
 
}
.subscription{
  border-radius: 16px;
  border: 1px solid #FF5400;
  padding: 40px;
  height: 340px;
  width: 400px;
}
.subscription h4{
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0;
}
.subscription p{
  color: #5A5A5D;
  margin-top: 10px;
  margin-bottom: 50px;

}
.subscription img{
  width: 672px;
  height: 422px;
  border-radius: 16px;
  background: lightgray 50% ;
  
}
.sub-img{
  position: relative;
}
.sub-input input{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  border: 1px solid rgb(238, 235, 235);
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 15px 220px 15px 20px;
  margin-bottom: 10px;
}
.sub-btn{
  padding:10px 152px;
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
}
.discount{
  border-radius: 16px;
  background: #FF5400;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 100px;
  position: absolute;
  transform: rotate(-19.628deg);
  left: 323px;
  top: 233px;

}
.discount p{
  margin-bottom: 5px;
}
.discount h2{
  margin-top: 0px;
}
 /* footer styles */
 .footer{
  background: rgba(19, 19, 24, 0.05) 50%/ cover no-repeat;
  width:1340px;
  height: 300px;

}
.logo-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 40px;
  margin-bottom: 0px;
}
.footer-description{
  text-align: center;
}
  .footer-description h2{
    color:  #131318;
    font-size: 40px;
    font-weight: 800;

  }
  .footer-description p{
    margin-top: 5px;
    font-size: 16px;
    color: #5A5A5D;

  }
  .footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  hr{
    width: 1000px;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 20px;
    margin-bottom: 0px;
  }
  footer p{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    text-align: center;

  }
/* responsive styles */

 /* mobile device*/
 @media screen and (max-width:576px) {
  /* banner section responsive */
        header{
          padding: 0px;
          width: 100%;
          margin: 0 auto;
        }
      .bar{
       display: block; 
       position: absolute;
       right: 20px;
       top:20px;
      }
      nav img{
        width: 30px;
      }
    .nav-title{
      font-size: 10px;
    }
    nav{
      position: relative;
    }
    nav>ul{
      margin-right: 40px;
      padding-right: 100px;
      width: 20px;
    }
        nav li a{
          display: none;
        }
        .banner{
         width: 100%;
         border-radius: 8px;
          margin: 0 auto;
        }
        .banner h1{
         padding: 10px;
        }
        .conteiner-input{
        flex-direction: column;
        gap: 5px;
        margin: 5px 80px;
        }
        button{
          padding: 13px 40px;
        }
       


        /* responsive banner end */


      /* our populer section responsive */
      .populer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .populer-description{
         margin: 0 auto;
      }
      .populer h3{
        font-size: 25px;
      }
      .populer p,ul{
        font-size: 9px;
      }
      .img-section img{
        width: 335px;
        height: 342px;
        border-radius: 16px;

      }
      /* destination section responsive */
      .destination{
        justify-content: center;
        align-items: center;
      }
      .desti-description{
        margin: 0 auto;
      

      }
      .desti-description h4{
        font-size: 20px;
      }
      .desti-description p{
        font-size: 10psx;
      }
      .destination-img{
      text-align: center;
        margin: 0% auto;
      }
      .destination-img img{
        width: 300px;
        height: 176px;
      }
      .first-row,.second-row ,.thired-row{
        display: block;
        flex-direction: column;
        margin: 0 auto;
       
      }
      .img-1,.img-2,.img-3,.img-4,.img-5,.img-6,.img-7{
        position: relative;
      }
      .name{
        position: absolute;
        padding-top: 75px;
        right: 160px;
        color: #FFF;
        font-size: 20px;
        font-weight: 800;
      }
      .name-2{
        position: absolute;
        padding-top: 75px;
        right: 160px;
        color: #FFF;
        font-size: 20px;
        font-weight: 800;
      }
      .name-3{
        position: absolute;
        padding-top: 75px;
        right: 160px;
        color: #FFF;
        font-size: 20px;
        font-weight: 800;
      }
      .name-4{
        position: absolute;
        padding-top: 75px;
        right: 140px;
        color: #FFF;
        font-size: 20px;
        font-weight: 800;
      }
      .name-5{
        position: absolute;
        padding-top: 75px;
        right: 170px;
        color: #FFF;
        font-size: 20px;
        font-weight: 800;
      }
      .name-6{
        position: absolute;
        padding-top: 75px;
        right: 145px;
        color: #FFF;
        font-size: 20px;
        font-weight: 800;
      }
      .name-7{
        position: absolute;
        padding-top: 75px;
        right: 145px;
        color: #FFF;
        font-size: 20px;
        font-weight: 800;
      }
      /* why choose us responsive */
      .choose-description{
        margin: 0 auto;
        text-align: start;
      }
      .choose-description h3{
        font-size: 20px;
        text-align: center;
      }
      .choose-description p{
        font-size: 10px;
        text-wrap: wrap;
        text-align: center;
      }
      .offers img{
        width: 30px;
        height: 30px;
      }
      /* bonus section responsive */
      .video-title h2{
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
      }
      .video-title p{
        font-size: 10px;
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0% auto;
      
      }
      .video-section video{
       margin: 0% auto;
      }
      /* news latter section responsive */
      .submit{
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      .subscription{
        margin-bottom: 20px;
        width: 320px;


      }
      .sub-input input{
        padding: 10px 150px 10px 10px;
      }
      .sub-btn{
        padding:10px 135px;
        font-size: 10px;
        
      }
      .sub-img img{
        width: 100%;
        margin: 0 auto;
        text-align: center;
       margin-bottom: 40px;
      }
      .discount{
        padding: 5px;
        width: 150px;
        height: 60px;
        left: 233px;
        top: 154px;
      }
      .discount p{
        margin-bottom: 5px;
        font-size: 10px;
      }
      .discount h2{
        margin-top: 0px;
        font-size: 15px;
      }
      /* footer section responsive */
      .footer{
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-bottom:40px;
      }
      hr{
        width: 350px;
      }
 }
 